<h2>{{vm.test}}</h2>
<div class="row">
    <h1 class="question">{{vm.timerValue}}</h1>
</div>

<div class="row">
    <h1 class="text-center">{{vm.question}}</h1>
</div>
<br />
<div class="row">
    <h3 class="text-center">{{vm.answer}}</h3>
    <div class="col-md-6 col-md-offset-3">
        <div class="list-group">
            <a href="#" class="list-group-item" ng-repeat="ans in vm.answers" ng-class="{'list-group-item-success': (vm.isTimerStopped && ans.result) || (vm.isRightAnswer && ans.result), 'list-group-item-danger':  vm.isAnswered && !vm.isRightAnswer && !ans.result && vm.selectedAnswer === ans}" ng-click="vm.giveAnswer(ans)">
                <span class="badge">{{ans.result}}</span>{{ans.answer}}
            </a>
        </div>
    </div>
</div>